@import "reset.scss";
@import "gallery.scss";

.course-image {
        background-color: red;
    }
    
    #container {
        display: flex;
        justify-content: space-between;
        width: 300px;
        flex-direction: row;
    }