@import "reset.scss";
@import "gallery.scss";

.course-image {
    background-color: beige;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#courseGallery {
    display: flex;
    height: 300px;
    width: 80vw;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
    gap: 10px;
}

.course-image {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    border-radius: 15px;
}

.course-image img {
    width: 300px;
    height: 300px;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
}

.course-image span {
    padding: 5px;
}

.bookButton {
    width: 10rem;
    height: 2rem;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    align-self:flex-end;
    margin: 3px;
    border-radius: 15px;
}

.header {
    display: flex;
    background-color: burlywood;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 4rem;
    
}

.menu {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    margin-right: 2rem;
}


.menu-buttons {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    // position: relative;
    justify-content: flex-end;
    list-style: none;
}


@media only screen and (max-width: 1024px) {

    #container {
        width: 100vw;
    }

    #courseGallery div {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vh;
    }

    .course-image {
        width: 80vh;
        justify-content: space-between;
    }

    .course-image img {
        width: 50vw;
        height: 50vh;
    }
}